<h1>The Login Page</h1>

<h1>Welcome, <%= current_user["username"] %>!</h1>

<h2>Other Users</h2>
<ul>
  <% other_users.each do |user| %>
  <li><%=user["username"]%></li>
    <%end%>
</ul>


<form action="/logout" method="get">

  <input type="submit" class="button" value="logout" />

</form>

