<h1>Register</h1>

<form action="/register" method="post">

  <h1>Select a username and password:</h1>

  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"/>
  </div>

  <div>
    <label for="password">Password: </label>
    <input type="text" id="password" name="password"/>
  </div>

  <p></p>

  <input type="submit" class="button" value="Register me!" />


</form>