<% if flash[:notice] %>
  <div id="message"><%= flash[:notice] %></div>
  <% end %>



<a href="/register"><button>Register</button></a>


<h1>OR</h1>


<h3>Login Below:</h3>


<% if flash[:error] %>
  <p class="flash"><%= flash[:error] %></p>
<% end %>


<form action="/login" method="post">

  <div>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" />
  </div>

  <div>
    <label for="password">Password: </label>
    <input type="text" id="password" name="password"
  </div>

  <p></p>

  <input type="submit" class="button" value="Login" />

</form>


